#portfolio{
	background: url("sass/images2/bg3.jpg");
	@include background-cover(cover);
	
	.content{
		position: relative;
		font-size: 2em;
		font-family: 'Muktai-Vaani', sans-serif;
		letter-spacing: 2px;
		width: 90%;
		margin: 0 auto;
		color: white;

		img{
			position: absolute;
			width: 50%;
			height: 50vh;
		}
	}

		.left{
			padding-top: 5%;
			height: 45%;

			img{
				float: right;
			}

			p{
				float: left;
				width: 40%;
				margin: 5%;
				text-align: right;	
			}
		}

		.right{
			height: 45%;

			img{
				float: left;
			}

			p{
				float: right;
				width: 40%;
				margin: 5%;
				text-align: left;
			}
		}
}